@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DayOfWeekViewModel
<div class="text-center">
    <h1 class="display-4">Available Times</h1>

    <div class="row">
        <div>
            <h3>Monday</h3>

            @foreach (var x in Model.Monday)
            {
                <div>
                    <p>
                        @x.TimeInfo.Hour.ToString():00
                    </p>
                    <form id="@x.TourSlotID" asp-action="SignUp" method="post">
                        <input type="hidden" asp-for="@x" />

                        <span class="card-text p-1">

                            <button type="submit" class="btn-light btn-sm pull-right" style=" float: right;">
                                Book Now
                            </button>
                        </span>

                    </form>
                </div>
            }
        </div>
        <div>
            <h3>Tuesday</h3>

            @foreach (var x in Model.Tuesday)
            {
                <div>
                    <p>
                        @x.TimeInfo.Hour.ToString():00
                    </p>
                    <form id="@x.TourSlotID" asp-action="/ReservationInfo" method="post">
                        <input type="hidden" asp-for="@x.TourSlotID" />

                        <span class="card-text p-1">

                            <button type="submit" class="btn-light btn-sm pull-right" style="float:right">
                                Book Now
                            </button>
                        </span>

                    </form>
                </div>
            }
        </div>
        <div>
            <h3>Wednesday</h3>

            @foreach (var x in Model.Wednesday)
            {
                <div>
                    <p>
                        @x.TimeInfo.Hour.ToString():00
                    </p>
                    <form id="@x.TourSlotID" asp-action="/ReservationInfo" method="post">
                        <input type="hidden" asp-for="@x.TourSlotID" />

                        <span class="card-text p-1">

                            <button type="submit" class="btn-light btn-sm pull-right" style="float:right">
                                Book Now
                            </button>
                        </span>

                    </form>
                </div>
            }
        </div>
        <div>
            <h3>Thursday</h3>

            @foreach (var x in Model.Thursday)
            {
                <div>
                    <p>
                        @x.TimeInfo.Hour.ToString():00
                    </p>
                    <form id="@x.TourSlotID" asp-action="/ReservationInfo" method="post">
                        <input type="hidden" asp-for="@x.TourSlotID" />

                        <span class="card-text p-1">

                            <button type="submit" class="btn-light btn-sm pull-right" style="float:right">
                                Book Now
                            </button>
                        </span>

                    </form>
                </div>
            }
        </div>
        <div>
            <h3>Friday</h3>

            @foreach (var x in Model.Friday)
            {
                <div>
                    <p>
                        @x.TimeInfo.Hour.ToString():00
                    </p>
                    <form id="@x.TourSlotID" asp-action="/ReservationInfo" method="post">
                        <input type="hidden" asp-for="@x.TourSlotID" />

                        <span class="card-text p-1">

                            <button type="submit" class="btn-light btn-sm pull-right" style="float:right">
                                Book Now
                            </button>
                        </span>

                    </form>
                </div>
            }
        </div>
        <div>
            <h3>Saturday</h3>

            @foreach (var x in Model.Saturday)
            {
                <div>
                    <p>
                        @x.TimeInfo.Hour.ToString():00
                    </p>
                        <form id="@x.TourSlotID" asp-action="/ReservationInfo" method="post">
                            <input type="hidden" asp-for="@x.TourSlotID" />

                            <span class="card-text p-1">

                                <button type="submit" class="btn-light btn-sm pull-right" style="float:right">
                                    Book Now
                                </button>
                            </span>

                        </form>
                    
                </div>
            }
        </div>
    </div>
    
</div>
